/* Week 3 - 103122400029_Daffa Aufany Febrianto */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 20px;
}

h1 {
    color: #222;
    text-align: center;
}

h2 {
    color: #333;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}


.About,
.Education,
.Skill,
.Exp,
.Medsos {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.Biodata {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
}

.Biodata img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    border-radius: 8px;
}
.biodata img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* Foto
.Biodata img {
    display: block;
    margin-top: 15px;
    width: 100px;
    border-radius: 8px;


} */

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #eee;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


li {
    margin-bottom: 8px;
}

body > h2 {
    color: #222;
}

